{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-3">{{ title }}</h1>
            <p class="lead">{{ message }}</p>
        </div><!--/.jumbotron-->
    </div><!--/.container-->
{% endblock %}