{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-3">{% block title %}Welcome!{% endblock %}</h1>
            <p class="lead">
                {% block show_intro %}
                    Please find below a list of the models of cars and the show they attended, grouped by make alphabetically.
                {% endblock %}
            </p>
            <hr class="my-4">
            <div class="row">
                {%  for make in map|keys %}
                    <div class="col-12 col-lg-3">
                        <h2>{{ make }}</h2>
                        <ul>
                            {%  for model in map[make]|keys %}
                                <li>
                                    {{ model }}
                                    <ul>
                                        {%  for show in map[make][model] %}
                                            <li>{{ show }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div><!--/.col-->
                {% endfor %}
            </div><!--/.row-->
        </div><!--/.jumbotron-->
    </div><!--/.container-->
{% endblock %}